*{
    margin: 0;
    padding: 0;
}
h1 {
    text-decoration: underline;
}
.board{
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
.column{
    width: 30%;
    min-height: 200px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
}

h3{
    text-decoration: underline;
}

button{
    padding: 8px 16px;
    border: 1px lightgray solid;
    color: white;
    background-color: black;
    border-radius: 10px;
    font-weight: bold;
}
